---
title: Gillian Lee Photography | Portfolio
---

<!DOCTYPE html>
<html lang="en">

<head>

    {% include header.html %}

</head>

<body id="project-top">

    {% include navbar.html %}

    <div class="container gallery">
        <div class="row">

            {% assign types = "Knitting;Family;Weddings;Events" | split: ";" %}

            <div class="col-md-3" id="leftCol">
                <nav class="navbar navbar-default affix">
                    <ul class="nav navbar-nav navbar-stacked" id="sidebar">
                        {% for type in types %}
                        <li><a class="page-scroll" href="#{{ type }}">{{ type }}</a></li>
                        <ul class="nav navbar-nav navbar-stacked sidebar-sub">
                        {% assign projects = (site.projects | where: "category", type) %}
                        {% for p in projects %}
                            <li><a class="page-scroll" href="#{{ p.name }}">{{ p.title }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col-md-9" id="mainCol">
                {% for type in types %}
                <section id="{{type}}">
                    {% assign projects = (site.projects | where: "category", type) %}
                    {% for p in projects %}
                        <section id="{{p.name}}">
                            <div class="col-md-12">
                                <h1 class="page-header">{{p.title}}</h1>
                            </div>

                            {{ p.content }}

                            <div class="row">
                                {% assign img_names = 'img/' | append: p.name %}

                                {% assign project_imgs = "" | split: "|" %}
                                {% for item in site.static_files %}
                                {% if item.path contains img_names %}
                                    {% assign project_imgs = project_imgs | push: item %}
                                {% endif %}
                                {% endfor %}

                                {% assign i = 0 %}
                                {% for img in project_imgs %}
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="#lightbox_{{ p.name }}" data-toggle="modal" data-slide-to="{{ i }}">
                                            <img class="img-responsive" src="{{ img.path }}" alt="">
                                        </a>
                                    </div>
                                    {% assign i = i | plus: 1 %}
                                {% endfor %}

                            </div>
                        </section>

                        <hr>


                    {% endfor %}


                </section>
                {% endfor %}

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Gillian Martin 2016</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    {% for type in types %}
        {% assign projects = (site.projects | where: "category", type) %}
        {% for p in projects %}

            {% assign img_names = 'img/' | append: p.name %}

            {% assign project_imgs = "" | split: "|" %}
            {% for item in site.static_files %}
            {% if item.path contains img_names %}
                {% assign project_imgs = project_imgs | push: item %}
            {% endif %}
            {% endfor %}

            <div class="modal fade and carousel slide" id="lightbox_{{ p.name }}">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-body">
                                <ol class="carousel-indicators">
                                    {% assign i = 0 %}
                                    {% for img in project_imgs %}
                                        <li data-target="#lightbox_{{ p.name }}" data-slide-to="{{ i }}"></li>
                                        {% assign i = i | plus: 1 %}
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% assign active = "active" %}
                                    {% for img in project_imgs %}
                                        <div class="item {{ active }}">
                                            <img class="modal-img" src="{{ img.path }}" alt="">
                                        </div>
                                        {% assign active = "" %}
                                    {% endfor %}
                                </div><!-- /.carousel-inner -->
                                <a class="left carousel-control" href="#lightbox_{{ p.name }}" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#lightbox_{{ p.name }}" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div><!-- /.modal-body -->
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        {% endfor %}
    {% endfor %}

    {% include footer.html %}
    <script src="{{ site.github.url }}/js/project.js"></script>

</body>

</html>



