---
title: Gillian Lee Photography | Portfolio
---

<!DOCTYPE html>
<html lang="en">

<head>

    {% include header.html %}

</head>

<body id="project-top">

    {% include navbar.html %}

    <div class="container gallery">
        <div class="row">

            {% assign types = "Knitting;Family;Wedding" | split: ";" %}

            <div class="col-md-3" id="leftCol">
                <nav class="navbar navbar-default affix">
                    <ul class="nav navbar-nav navbar-stacked" id="sidebar">
                        {% for type in types %}
                        <li><a class="page-scroll" href="#{{ type }}">{{ type }}</a></li>
                        <ul class="nav navbar-nav navbar-stacked sidebar-sub">
                        {% assign projects = (site.projects | where: "category", type) %}
                        {% for p in projects %}
                            <li><a class="page-scroll" href="#{{ p.name }}">{{ p.title }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col-md-9" id="mainCol">
                {% for type in types %}
                <section id="{{type}}">
                    {% assign projects = (site.projects | where: "category", type) %}
                    {% for p in projects %}
                        <section id="{{p.name}}">
                            <div class="col-md-12">
                                <h1 class="page-header">{{p.title}}</h1>
                            </div>

                            {{ p.content }}

                            <div class="row">
                                {% for image in site.static_files %}
                                    {% assign project_imgs = 'img/' | append: p.name %}
                                    {% if image.path contains project_imgs %}
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="{{ image.path }}">
                                            <img class="img-responsive" src="{{ image.path }}" alt="">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </section>

                        <hr>
                    {% endfor %}
                </section>
                {% endfor %}

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Gillian Martin 2016</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    {% include footer.html %}
    <script src="{{ site.github.url }}/js/project.js"></script>

</body>

</html>



